<section class="mainbar">
    <div class="container-fluid">
        <div class="clearfix">
            <h1>Project settings</h1>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <uib-tabset>
                    <uib-tab select="vmProject.refreshBoards();">
                        <uib-tab-heading>Boards</uib-tab-heading>
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <button
                                    class="btn btn-primary"
                                    ng-click="vmProject.refreshBoards()">
                                    <i class="fa fa-refresh"></i>
                                </button>
                            </div>
                            <table class="table table-condensed table-hover">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Lists</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="board in vmProject.boards">
                                    <td>{{ board.name }}</td>
                                    <td>
                                        <isteven-multi-select
                                            input-model="board.inputLists"
                                            output-model="board.outputLists"
                                            button-label="name"
                                            item-label="name"
                                            tick-property="ticked"
                                            orientation="vertical"
                                            helper-elements="all none"
                                            output-properties="name ticked"
                                            on-item-click="vmProject.deleteList( data );"
                                            ></isteven-multi-select>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></button>
                                        <button class="btn btn-default"><i class="glyphicon glyphicon-edit"></i></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </uib-tab>
                    <uib-tab ng-if="vmProject.hasSprints">
                        <uib-tab-heading>Srpints</uib-tab-heading>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</section>
