<style>
    .mainbar {
        margin-left: 0;
    }
</style>

<section class="mainbar">
    <div class="container">
        <div class="clearfix">
            <h1>
                Team
                <form class="form-inline pull-right">
                    <select name="" id="" class="form-control" ng-model="vm.memberFilter">
                        <option value="">All members</option>
                        <option value="admin">Admin</option>
                        <option value="normal">Normal</option>
                        <option value="ghost">Ghost</option>
                        <option value="true">Confirmed</option>
                        <option value="false">Unconfirmed</option>
                    </select>
                    <input type="text" class="form-control" placeholder="Search for..." ng-model="vm.query">
                </form>
            </h1>

        </div>
        <hr>

        <div class="row">
            <div class="col-sm-12">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="new-member-name" hidden>Name</label>
                        <input type="text" class="form-control" id="new-member-name" placeholder="Full name"
                               ng-model="vm.newName">
                    </div>
                    <div class="form-group">
                        <label for="new-member-email" hidden>Email</label>
                        <input type="email" class="form-control" id="new-member-email" placeholder="Email"
                               ng-model="vm.newEmail">
                    </div>
                    <div class="form-group">
                        <label for="new-member-permissions" hidden>Permissions</label>
                        <select class="form-control" id="new-member-permissions" ng-model="vm.newRole">
                            <option value="admin">Admin</option>
                            <option value="normal">Normal</option>
                        </select>
                    </div>
                    <button class="btn btn-primary" ng-click="vm.addUser();"><i class="glyphicon glyphicon-plus"></i>
                        Add
                    </button>
                    <button class="btn btn-primary" ng-click="vm.getUsers(vm.users, vm.organization);"><i
                        class="glyphicon glyphicon-refresh"></i></button>
                </form>
                <br/>

                <div class="panel panel-info">
                    <div class="panel-heading">
                        Members
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Role</th>
                            <th>Confirmed</th>
                            <th>Url</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="user in vm.users | filter:vm.query | filter:vm.memberFilter | orderBy:fullName">
                            <td>{{user.id}}</td>
                            <td>
                                <img
                                     ng-src="https://trello-avatars.s3.amazonaws.com/{{user.avatarHash}}/170.png"
                                     alt="avatar" width="20"/>
                                <span class="h6">{{ user.fullName; }}</span>
                            </td>
                            <td>{{user.username}}</td>
                            <td>{{user.memberType}}</td>
                            <td>{{user.confirmed}}</td>
                            <td>{{user.url}}</td>
                            <td>
                                <button type="button" class="btn btn-danger" ng-click="vm.deleteUser(vm.users, $index, vm.organization, vm.me);"><i
                                    class="glyphicon glyphicon-trash"></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="deleteTeamMate" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Are you shure???</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want remove <b>{{vm.name}}</b> from project?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-archive" data-dismiss="modal">Archive</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
