<div class="matter">
    <div class="container">
        <div class="clearfix">
            <h1>
            <form class="form-inline pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-default tabsSelected" ui-sref="runs-edit()" >Edit</button>
                    <button type="button" class="btn btn-default tabsNotSelected" ui-sref="runs-execute({run: vmRunsEdit.run})">Run</button>
                </div>
            </form>

            {{vmRunsEdit.run.name||'Create your new test run'}}

            </h1>
        </div>
        <hr/>


        <div class="row">
            <div class="col-md-12">
                <form action="" class="form">
                    <div class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Short information
                            </div>
                        <div class="panel-body">
                    <div class="col-md-12">
                    <label for="run-name">Name</label>
                    <input type="text" name="" id="run-name" class="form-control"  ng-model="vmRunsEdit.run.name"/>
                    </div>
                    <div class="form-group col-md-12">
                    <label for="run-build">Build</label>
                    <input type="text" name="" id="run-build" class="form-control"  ng-model="vmRunsEdit.run.build" />
                    </div>
                    <div class="form-group col-md-12">
                        <label for="run-environment">Environment</label>
                        <input type="text" name="" id="run-environment" class="form-control"  ng-model="vmRunsEdit.run.envShort"/>
                    </div>
                            </div>
                        </div>
                        </div>
                    <div class="col-md-6">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                Environment details
                            </div>
                            <div class="panel-body">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Parameter</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="(key, value) in vmRunsEdit.run.envFull">
                                            <td>{{key}}</td>
                                            <td>{{value}}</td>
                                        </tr>
                                        <tr>
                                            <td><input type="text" ng-model="param"></td>
                                            <td><input type="text" ng-model="value"></td>
                                        </tr>
                                    <tr>
                                        <td><button type="button" class="btn btn-default btn-xs" ng-click="vmRunsEdit.addEnvDetail(param, value)">Add</button></td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


