<section class="mainbar">
    <div class="matter">
        <div class="container-fluid">
            <div class="clearfix">
                <h1>
                    <form class="form-inline pull-right">
                        <div class="form-control">
                            {{vmRunsExecute.intervalOfExecution.toString()|date:'HH:mm:ss':'UTC'}}
                        </div>
                        <a class="btn btn-default fa" ng-class="vmRunsExecute.isExecuting ? 'fa-pause' : 'fa-play'"
                           ng-click="vmRunsExecute.startRun()"></a>
                        <ds-widget-clock theme="dark" show-secs="true" digital-format="'hh:mm:ss a'"></ds-widget-clock>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default tabsNotSelected"
                                    ui-sref="runs-edit({id: vmRunsExecute.run._id})">
                                Edit
                            </button>
                            <button type="button" class="btn btn-default tabsSelected" ui-sref="runs-execute()">Run
                            </button>
                        </div>
                    </form>
                    {{vmRunsExecute.run.name}}
                </h1>
            </div>
            <hr/>
            <!--main content-->
            <div class="row">
                <!--sidebar-->
                <div class="col-md-3">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <span>Information</span>
                        </div>
                        <div class="panel-body">
                            <b>Status</b>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success"
                                     style="width: {{vmRunsExecute.progress.passed/vmRunsExecute.progress.length*100}}%">
                                    {{vmRunsExecute.progress.passed}}
                                </div>
                                <div class="progress-bar progress-bar-danger"
                                     style="width: {{vmRunsExecute.progress.failed/vmRunsExecute.progress.length*100}}%">
                                    {{vmRunsExecute.progress.failed}}
                                </div>
                                <div class="progress-bar tabsSelected"
                                     style="width: {{vmRunsExecute.progress.pending/vmRunsExecute.progress.length*100}}%">
                                    {{vmRunsExecute.progress.pending}}
                                </div>
                            </div>
                            <div>
                                <b href="#">Environment</b>
                                <br>
                                <p ng-bind="vmRunsExecute.run.envShort"></p>
                            </div>
                        </div>
                    </div>
                    <!--Suits&Tests Panel------>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="form-inline">
                                <div class="form-group">
                                    Suites&Tests
                                </div>
                                <div class="form-group pull-right checkbox">
                                    <label>
                                        <input type="checkbox" name="view-all-steps" ng-model="vmRunsExecute.viewAllSteps">
                                        View All
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <!--Here we print all suites including the selected one. The selected suite will be the
                                last in this list-------------------------------------->
                                <a href="#" ng-repeat="suite in vmRunsExecute.suites"
                                   ng-if="$index <= vmRunsExecute.suites.indexOf(vmRunsExecute.selectedSuite)"
                                   ng-click="vmRunsExecute.selectedSuite = vmRunsExecute.suites[$index];
                                 vmRunsExecute.viewAllSteps = false;"
                                   ng-class="{ 'list-item-suite-selected': (vmRunsExecute.selectedSuite === suite)}"
                                   ng-bind="::suite"
                                   class="list-group-item">
                                </a>
                                <!--Here we print the tests of the Selected suite--------->
                                <a href="#" ng-repeat="test in vmRunsExecute.run.tests"
                                   ng-if="(vmRunsExecute.selectedSuite === test.suite)"
                                   ng-bind="::test.testName"
                                   ng-click="vmRunsExecute.selectedTest = test;
                                 vmRunsExecute.viewAllSteps = false"
                                   ng-class="{'list-item-test-selected': (vmRunsExecute.selectedTest === test)}"
                                   class="list-group-item list-group-item-test">
                                </a>
                                <!--The suites, which wasn't selected, will be shown by this ng-repeat in case of-->
                                <!--existence----------------------------------------------------------------------->
                                <a href="#" ng-repeat="suite in vmRunsExecute.suites"
                                   ng-if="$index > vmRunsExecute.suites.indexOf(vmRunsExecute.selectedSuite)"
                                   ng-click="vmRunsExecute.selectedSuite = vmRunsExecute.suites[$index];
                                 vmRunsExecute.viewAllSteps = false;"
                                   ng-bind="::suite"
                                   class="list-group-item">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--article-->
                <div class="col-md-9">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <span ng-if="!vmRunsExecute.viewAllSteps"> {{(vmRunsExecute.selectedTest.testName || 'Select test case')+": list of steps"}}</span>
                            <span ng-if="vmRunsExecute.viewAllSteps">List of all steps</span>
                        </div>
                        <table class="table table-hover">
                            <thead ng-if="!vmRunsExecute.viewAllSteps">
                            <tr>
                                <th>
                                    №
                                </th>
                                <th>
                                    Action
                                </th>
                                <th>
                                    Expected result
                                </th>
                                <th>
                                    Status
                                </th>
                            </tr>
                            </thead>
                            <tbody ng-if="!vmRunsExecute.viewAllSteps">
                            <tr ng-repeat="step in vmRunsExecute.selectedTest.steps"
                                ng-class="{'list-item-test-selected': (vmRunsExecute.selectedStepIndex === $index)&&(vmRunsExecute.isExecuting)}">
                                <td ng-bind="$index+1"></td>
                                <td ng-bind="::step.stepDescription"></td>
                                <td ng-bind="::step.expectedResult"></td>
                                <td>
                                <span
                                    class="label label-{{step.status === 'passed'?'success':(step.status === 'failed'?'danger':'default')}}"
                                    ng-click="!(vmRunsExecute.selectedStepIndex = $index +1)||vmRunsExecute.changeStepStatus(step,$index, vmRunsExecute.selectedTest)">
                                        {{step.status.toUpperCase()}}
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                            <tbody ng-if="vmRunsExecute.viewAllSteps" ng-repeat="test in vmRunsExecute.run.tests"
                                   ng-init="vmRunsExecute.selectedStepIndex = 0">
                            <tr class="success">
                                <td colspan="2"><b>Suite:</b> {{test.suite}}</td>
                                <td colspan="2"><b>Test:</b> {{test.testName}}</td>
                            </tr>
                            <tr ng-repeat="step in test.steps"
                                ng-class="{'list-item-test-selected': (vmRunsExecute.selectedStepIndex === $index)&&(vmRunsExecute.isExecuting)&&(vmRunsExecute.selectedTest === test)}">
                                <td ng-bind="$index+1"></td>
                                <td ng-bind="::step.stepDescription"></td>
                                <td ng-bind="::step.expectedResult"></td>
                                <td>
                                <span
                                    class="label label-{{step.status === 'passed'?'success':(step.status === 'failed'?'danger':'default')}}"
                                    ng-click="!(vmRunsExecute.selectedStepIndex = $index +1)||vmRunsExecute.changeStepStatus(step, $index, test)">
                                        {{step.status.toUpperCase()}}
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- view for add defect modal-->
        <div ui-view=""></div>
    </div>
</section>

