<section class="mainbar">
    <div class="matter">
        <div class="container-fluid">

            <!--Header-->
            <div class="clearfix">
                <h1><i class="fa fa-dashboard"></i> Dashboard
                <button type="button" class="btn btn-default btn-md pull-right">Customize</button>
                    </h1>
            </div>
            <hr>

            <!--Main content-->
            <div class="row">
                <div gridster="vmDashboard.gridsterOpts">

                        <div class="panel panel-info" style="overflow: hidden"
                             gridster-item  size-x="item.size.x" size-y="item.size.y"
                             ng-repeat="item in vmDashboard.items" board-resized="board{{$index}}">

                            <div class="panel-body">
                                <button type="button" class="close" ng-click="vmDashboard.trigger = item.pos; vmDashboard.deleteItem()">&times;</button>
                                <div class="clearfix">
                                    <h4>{{ item.label }}</h4>
                                </div>

                                <!--project-->
                                <div ng-if="item.board === 'project' ">
                                    <hr>
                                    <h4> {{ ::item.name }} </h4>
                                    <p> {{ ::item.description }}</p>
                                </div>

                                <!--current run-->
                                <div ng-if="item.board === 'curRun' ">
                                    <div ng-repeat="feed in item.feed">
                                        <hr>
                                        <div class="clearfix">
                                            <div class="col-md-6">
                                                <a href="#"> {{ ::feed.name }} </a>
                                                <p>
                                                <span class="text-muted"> {{ ::feed.time }} </span>
                                                </p>
                                            </div>
                                            <div class="col-md-6 pull-right">
                                                Progress:
                                                <span class="badge" style="font-size: small"> {{ ::feed.status }} </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--activity-->
                                <div ng-if="item.board === 'activity' ">
                                    <div ng-repeat="feed in item.feed">
                                        <hr>
                                        <div class="clearfix">
                                            <div class="media">
                                                <div class="media-left">
                                                    <img width="30" height="30"
                                                         src="https://avatars0.githubusercontent.com/u/5695572?v=3&amp;s=60"
                                                         class="gravatar" alt="@m4ra">
                                                </div>
                                                <div class="media-body">
                                                    <div class="row">
                                                        <div class="col-xs-9">
                                                            <a href="#"><b>{{ ::feed.user }}</b></a> finished <a href="#"><b>run1</b></a>  with status <b class="label label-success">success</b>
                                                        </div>
                                                        <div class="col-xs-3 text-right">
                                                            <time class="small" is="relative-time" datetime="2015-12-08T00:12:10Z" title="8 дек. 2015 г., 2:12 GMT+2">2 days ago</time>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--tests-->
                                <div ng-if="item.board === 'tests' ">
                                    <div ng-repeat="feed in item.feed">
                                        <hr>
                                        <div class="clearfix">
                                            <div class="col-md-12">
                                                <a href="#"> {{ ::feed.name }} </a>
                                                created
                                                <br>
                                                <span class="text-muted"> just now </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--runs-->
                                <div ng-if="item.board === 'runs' ">
                                    <div ng-repeat="feed in item.feed">
                                        <hr>
                                        <div class="clearfix">
                                            <div class="col-md-8">
                                                <a href="#"> {{ ::feed.name }} </a> <br/>
                                                <span class="text-muted"> 2 days ago </span>
                                            </div>
                                            <div class="col-md-4">
                                                <span class="label label-success label" style="font-size: small"> PASSED </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--defects-->
                                <div ng-if="item.board === 'defects' ">
                                    <div ng-repeat="feed in item.feed">
                                        <hr>
                                        <div class="clearfix">
                                            <div class="col-md-2">
                                                <span class="label label-danger"> High </span>
                                            </div>
                                            <div class="col-md-7">
                                                <a href="#"> The Lorem Ipsum Defect </a> <br/>
                                                <span class="text-muted"> 2 days ago </span>
                                            </div>
                                            <div class="col-md-3">
                                                <button class="btn btn-success btn-xs">
                                                    Run &nbsp;
                                                    <i class="fa fa-caret-right"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--statistics-->
                                <div ng-if="item.board === 'stats' ">
                                    <hr>
                                    <chart type="pie" board="board{{$index}}" array="runs" field="status"></chart>
                                </div>

                                <!--activity statistics-->
                                <div ng-if="item.board === 'stats_activity' ">
                                    <hr>
                                    <chart type="bar" board="board{{$index}}" array="runs" field="author"></chart>
                                </div>

                            </div> <!--end panel-body-->
                        </div><!--end panel-->

                </div><!--end gridster-->
            </div> <!--end row-->

<!--wrapper-->
        </div>
    </div>
</section>
