
<main class="container projects-main">

    <header class="row projects-header">
        <h2 class="col-md-3 projects-main-header"> Your Projects </h2>
        <button class="col-md-offset-7 col-md-2 add-project-btn btn btn-success"> Add new Project </button>
    </header>

    <section class="row project-window">

        <!-- Left Navigation Tree -->
        <aside class="col-md-3 left-nav">
            <ul class="project-navigation">
                <li class="row project-li active">
                    <h3>Project 1</h3>
                    <ul class="active-project-tree">
                        <li class="cur-project-suite active">
                            MyFavourite Suite
                            <ul class="test-suite-tree">
                                <li class="test-case-li"> Login Test </li>
                                <li class="test-case-li"> Authorisation Test </li>
                                <li class="test-case-li"> Team Creation Test </li>
                            </ul>
                        </li>
                        <li class="cur-project-suite"> MyNew Suite </li>
                        <li class="cur-project-suite"> OnlyMine Suite </li>
                        <li class="cur-project-suite"> Bootstrap Suite </li>
                    </ul>
                </li>
                <li class="project-li"> <h3>Project 2</h3> </li>
                <li class="project-li"> <h3>Project 3</h3> </li>
                <li class="project-li"> <h3>Project 4</h3> </li>
            </ul>
            <a href="#" class="manage-projects-link"> Manage all Projects </a>
        </aside>
        <!-- Left Navigation Tree -->

        <!-- Project Block -->
        <section class="col-md-9 current-project-block">

            <article class="caption">
                <h1> Project 1 </h1>
                <i class="fa fa-pencil"></i>
                <i class="fa fa-trash"></i>
            </article>

            <div class="aligner">

                <div class="left-col col-md-6">

                    <article class="description">
                        <h3> Description </h3>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe cumque dignissimos minima earum inventore quod, eligendi dolor incidunt temporibus numquam reprehenderit mollitia cum nesciunt deserunt impedit voluptatum animi, dicta iure? </p>
                    </article>

                    <article class="test-suites-count">
                        <h3> Test suites: 4 </h3>
                    </article>

                    <article class="passed-notpassed-cases">
                        <h3> Test cases: <a href="#" class="green">16</a> / <a class="red" href="#">8</a> </h3>
                    </article>

                    <article class="bug-list">
                        <h3> Bug List </h3>
                        <select multiple size="7">
                            <option> The First Bug </option>
                            <option> The Second Bug </option>
                            <option> The Third Bug </option>
                        </select>
                    </article>

                </div>

                <div class="right-col col-md-6 clear-after">

                    <article class="current-project-team">
                        <h3>Project Team</h3>
                        <div class="team-squad">

                            <div class="members">

                                <div class="member">
                                    <div class="team-member-photo"></div>
                                    <h5>John Smith</h5>
                                </div>

                                <div class="member">
                                    <div class="team-member-photo"></div>
                                    <h5>John Smith</h5>
                                </div>

                                <div class="member">
                                    <div class="team-member-photo"></div>
                                    <h5>John Smith</h5>
                                </div>

                                <div class="member">
                                    <div class="team-member-photo"></div>
                                    <h5>John Smith</h5>
                                </div>

                                <div class="member">
                                    <div class="team-member-photo"></div>
                                    <h5>John Smith</h5>
                                </div>

                                <div class="member">
                                    <div class="team-member-photo"></div>
                                    <h5>John Smith</h5>
                                </div>

                            </div>

                        </div>
                    </article>

                    <article class="current-project-tasks">

                        <h3 class="my-tasks"> My Tasks </h3>

                        <div class="current-tasks-container">

                            <div class="task row">
                                <h4 class="task-name col-md-4"> Task 1 </h4>
                                    <label class="task-priority col-md-4"> Priority: High </label>
                                    <button class="btn btn-success col-md-2 col-md-offset-2"> Done </button>
                            </div>

                            <div class="task row">
                                <h4 class="task-name col-md-4"> Task 1 </h4>
                                    <label class="task-priority col-md-4"> Priority: High </label>
                                    <button class="btn btn-success col-md-2 col-md-offset-2"> Done </button>
                            </div>

                            <div class="task row">
                                <h4 class="task-name col-md-4"> Task 1 </h4>
                                    <label class="task-priority col-md-4"> Priority: High </label>
                                    <button class="btn btn-success col-md-2 col-md-offset-2"> Done </button>
                            </div>

                        </div>
                    </article>

                </div>

            </div>

            <div class="view-reports">
                <h5 class="view-reports-caption"> View Detailed Reports </h5>
            </div>

        </section>
        <!-- Project Block -->

    </section>
</main>
