<div id="header-content">
    <div id="logo" class="logo" style="margin: 16px">
        <div style="font-size: 36px; font-weight: bold;">TCMS</div>
        <div style="font-size: 12px; margin-top: -11px">Here must be logo</div>
    </div>
    <div id="current-project">Project1</div>
    <div class="menu-item">
        <span class="glyphicon glyphicon-chevron-down menu-icon" id="user-chevron"></span>
    </div>
    <div class="menu-item">
        <span class="glyphicon glyphicon-user menu-icon"></span>
    </div>
    <div class="menu-item">
        <span class="glyphicon glyphicon-envelope menu-icon"></span>
        <span class="badge"  id="message-new">1</span>
    </div>
    <div class="menu-item">
        REPORTS
    </div>
    <div class="menu-item">
        TASKS <span class="badge">9</span>
    </div>
    <div class="menu-item">
        BUGS <span class="badge">7</span>
    </div>
    <div class="menu-item">
        SUITS
    </div>
</div>