<div>
    <div class="modal-header">
        <h4 class="modal-title">My projects</h4>
    </div>
    <div class="modal-body">
        <table class="table" id="projects-table">
            <tr>
                <td class="projects-table-toggle" width="80px" style="line-height: 22px">make active</td>
                <td>Project1</td>
                <td class="projects-table-details" style="line-height: 22px"><b>Created: </b><i>21.09.2007</i></td>
                <td width="90px" class="projects-table-details" style="line-height: 22px"><b><i>100%</i></b> passed</td>
                <td width="50px">
                    <span class="glyphicon glyphicon-pencil"></span>
                    <span class="glyphicon glyphicon-trash"></span>
                </td>
            </tr>
            <tr>
                <td class="projects-table-toggle" width="80px" style="line-height: 22px;">make active</td>
                <td>Project2</td>
                <td class="projects-table-details" style="line-height: 22px"><b>Created: </b><i>24.10.2007</i></td>
                <td width="90px" class="projects-table-details" style="line-height: 22px"><b><i>100%</i></b> passed</td>
                <td width="50px">
                    <span class="glyphicon glyphicon-pencil"></span>
                    <span class="glyphicon glyphicon-trash"></span>
                </td>
            </tr>
            <tr>
                <td class="projects-table-toggle" width="80px" style="line-height: 22px;">make active</td>
                <td>Project3</td>
                <td class="projects-table-details" style="line-height: 22px"><b>Created: </b><i>10.11.2007</i></td>
                <td width="90px" class="projects-table-details" style="line-height: 22px"><b><i>83%</i></b> passed</td>
                <td width="50px">
                    <span class="glyphicon glyphicon-pencil"></span>
                    <span class="glyphicon glyphicon-trash"></span>
                </td>
            </tr>
            <tr>
                <td class="projects-table-toggle" width="80px" style="line-height: 22px;">make active</td>
                <td>Project4</td>
                <td class="projects-table-details" style="line-height: 22px"><b>Created: </b><i>14.11.2007</i></td>
                <td width="90px" class="projects-table-details" style="line-height: 22px"><b><i>89%</i></b> passed</td>
                <td width="50px">
                    <span class="glyphicon glyphicon-pencil"></span>
                    <span class="glyphicon glyphicon-trash"></span>
                </td>
            </tr>
            <tr>
                <td class="projects-table-toggle" width="80px" style="line-height: 22px;">make active</td>
                <td>Project5</td>
                <td class="projects-table-details" style="line-height: 22px"><b>Created: </b><i>14.11.2007</i></td>
                <td width="90px" class="projects-table-details" style="line-height: 22px"><b><i>36%</i></b> passed</td>
                <td width="50px">
                    <span class="glyphicon glyphicon-pencil"></span>
                    <span class="glyphicon glyphicon-trash"></span>
                </td>
            </tr>
            <tr>
                <td class="projects-table-toggle" width="80px" style="line-height: 22px;">make active</td>
                <td>Project6 v0.2.0</td>
                <td class="projects-table-details" style="line-height: 22px"><b>Created: </b><i>21.09.2007</i></td>
                <td width="90px" class="projects-table-details" style="line-height: 22px"><b><i>100%</i></b> passed</td>
                <td width="50px">
                    <span class="glyphicon glyphicon-pencil"></span>
                    <span class="glyphicon glyphicon-trash"></span>
                </td>
            </tr>
            <tr>
                <td class="projects-table-toggle" width="80px" style="line-height: 22px; color: #72bb53;">active</td>
                <td>Project6 v0.2.1</td>
                <td class="projects-table-details" style="line-height: 22px"><b>Created: </b><i>20.10.2007</i></td>
                <td width="90px" class="projects-table-details" style="line-height: 22px"><b><i>16%</i></b> passed</td>
                <td width="50px">
                    <span class="glyphicon glyphicon-pencil"></span>
                    <span class="glyphicon glyphicon-trash"></span>
                </td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary pull-left" type="button">Create new</button>
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>