<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width initial-scale=1">
<title>
    Profily
</title>
<link href="../style/custom.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <!--<link href="style/bootstrap.min.style" rel="stylesheet">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
        <section class="container-fluid">
            <div class="row">
                <div class="col-md-5 col-md-offset-2">
                    <h3 class="text-center">User Profile</h3>
                    <div class="row">
                        <nav class="navbar navbar-default col-md-12">
                            <div class="container-fluid">
                                <!--<div class="navbar-header">
                                    <a class="navbar-brand" href="#">TCMS</a>
                                </div>-->
                                <div>
                                    <ul class="nav navbar-nav">
                                       <!-- <li><a href="#">TestSuit</a></li>
                                        <li><a href="#">TestCase</a></li>
                                        <li><a href="#">Bags</a></li>-->
                                        <li><a href="profile.html">Settings</a></li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                        <section class="settings">
                            <h5>Edit your user settings:</h5>

                        </section>

                    </div>
                </div>

                <div class="col-md-2 col-md-offset-1">
                    <img src="../images/avatar.png" class="img-responsive img-rounded" alt="Responsive image">
                </div>
            </div>

                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                <table class="table table-padding">

                    <tbody>
                    <tr>
                        <th>Account name</th>
                        <td><input type="text" placeholder="Account name"></td>

                    </tr>
                    <tr>
                        <th>E-mail Address</th>
                        <td><input type="text" class="input-small" placeholder="Email"></td>
                    </tr>
                    <tr>
                        <th>Old Password</th>
                        <td><input type="password" class="input-small" placeholder="Password"></td>
                    </tr>
                    <tr>
                        <th>New Password</th>
                        <td><input type="password" class="input-small" placeholder="Password"></td>
                    </tr>
                    <!--<tr>
                        <th>TestSuit <span class="glyphicon glyphicon-pencil"></span></th>
                        <td>
                            <select multiple="multiple">
                                <option>gwaeGWEAgaweghwae</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>TestCase <span class="glyphicon glyphicon-pencil"></span></th>
                        <td>
                            <select multiple="multiple">
                                <option>gwaeGWEAgaweghwae</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </td>
                    </tr>-->
                    </tbody>

                </table>
                        <form class="form-inline">
                            <!--<label class="checkbox">
                                <input type="checkbox"> Запомнить
                            </label>-->
                            <button type="submit" class="btn btn-info">Send</button>
                        </form>
                </div>
                    </div>
        </section>
    </body>

</html>

