<div class="row">
    <div class="col-md-8">
        <h2 class="text-center">Project Team</h2>
        <div class="panel user-panel">
            <img src="images/user_photo_replacer.svg" class="user-photo">
            <div class="user-name">Name or nick</div>
            <div class="user-pm">
                <span class="glyphicon glyphicon-envelope"></span>
                <span user-pm-text>send PM</span>
            </div>
        </div>
        <div class="panel user-panel">
            <img src="images/user_photo_replacer.svg" class="user-photo">
            <div class="user-name">Name or nick</div>
            <div class="user-pm">
                <span class="glyphicon glyphicon-envelope"></span>
                <span user-pm-text>send PM</span>
            </div>
        </div>
        <div class="panel user-panel">
            <img src="images/user_photo_replacer.svg" class="user-photo">
            <div class="user-name">Name or nick</div>
            <div class="user-pm">
                <span class="glyphicon glyphicon-envelope"></span>
                <span user-pm-text>send PM</span>
            </div>
        </div>
        <div class="panel user-panel">
            <img src="images/user_photo_replacer.svg" class="user-photo">
            <div class="user-name">Name or nick</div>
            <div class="user-pm">
                <span class="glyphicon glyphicon-envelope"></span>
                <span user-pm-text>send PM</span>
            </div>
        </div>
        <div class="panel user-panel">
            <img src="images/user_photo_replacer.svg" class="user-photo">
            <div class="user-name">Name or nick</div>
            <div class="user-pm">
                <span class="glyphicon glyphicon-envelope"></span>
                <span user-pm-text>send PM</span>
            </div>
        </div>
        <div class="panel user-panel">
            <img src="images/user_photo_replacer.svg" class="user-photo">
            <div class="user-name">Name or nick</div>
            <div class="user-pm">
                <span class="glyphicon glyphicon-envelope"></span>
                <span user-pm-text>send PM</span>
            </div>
        </div>
        <div class="panel user-panel">
            <img src="images/user_photo_replacer.svg" class="user-photo">
            <div class="user-name">Name or nick</div>
            <div class="user-pm">
                <span class="glyphicon glyphicon-envelope"></span>
                <span user-pm-text>send PM</span>
            </div>
            <div class="user-dismiss">
                <span class="glyphicon glyphicon-remove"></span>
                <span user-dismiss-text>dismiss</span>
            </div>
        </div>
        <div class="append-panel">
            <span class="glyphicon glyphicon-plus"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Chat</div>
            <div class="panel-body">
                <div class="user-message">
                    <div class="user-message-author">user1</div>
                    <div class="user-message-text">Lorem impsum</div>
                </div>
                <div class="user-message">
                    <div class="user-message-author">user1</div>
                    <div class="user-message-text">Lorem</div>
                </div>
                <div class="user-message">
                    <div class="user-message-author">user1</div>
                    <div class="user-message-text">Lorem impsum dolor sit amet, consecteur adipiscing elit.</div>
                </div>
                <div class="user-message">
                    <div class="user-message-author">user1</div>
                    <div class="user-message-text">Ok</div>
                </div>
                <textarea rows="5" class="user-message-textarea"></textarea>
                <button class="btn btn-primary pull-right">Send</button>
            </div>
        </div>

    </div>
</div>