
<section class="row">

    <!-- Aside Block -->
    <aside class="col-md-3 aside-nav">
        <nav class="">
            <ul class="test-suites-nav">
                <h4 class="caption">Test Suites:</h4>
                <li class="test-suite active"> MyCurrentTest Suite</li>
                <li class="test-suite"> MyFirstTest Suite </li>
                <li class="test-suite"> Test Suite The first </li>
            </ul>
        </nav>
        <hr>
        <article class="options">
            <h4 class="caption">Suites:</h4>
            <i class="fa fa-plus"></i>
            <i class="fa fa-pencil"></i>
            <i class="fa fa-trash"></i>
        </article>
    </aside>
    <!-- Aside Block -->

    <!-- Main Block -->
    <section class="col-md-9 main-section">
        <header class="test-options">
            <article class="row">

                <ul class="breadcrumb col-md-4">
                    <li><a href="#">CurrentProject</a></li>
                    <li><a href="#">CurrentSuite</a></li>
                </ul>

                <button class="btn btn-success col-md-2 col-md-offset-5" ng-click="addTest()"> Add test </button>

            </article>

            <article class="row">

                <div class="toggle-all col-md-2">
                    <input type="checkbox" id="toggle-all">
                    <label for="toggle-all">Toggle All</label>
                </div>



                <div class="icons col-md-3">
                    <i class="fa fa-play" ng-click="runTest()"></i>
                    <i class="fa fa-pencil"></i>
                    <i class="fa fa-trash"></i>
                </div>

                <div class="col-md-4 col-md-offset-3 search-block">
                    <i class="fa fa-search search-icon"></i>
                    <input type="text" class="search" placeholder="Type search here...">
                </div>

            </article>

            <article class="row filters">

                <button class="btn btn-default col-md-1 add-filters" > Add filters</button>

                <label> Sort by: </label>
                <select name="sort-by" id="sort-by">
                    <option value="priority"> Priority </option>
                    <option value="time"> Update Time </option>
                </select>

            </article>


        </header>

        <section class="test-cases">

            <article class="test-case row">
                <div class="col-md-3">
                    <input type="checkbox">
                    <a href="#">
                        <h4> Test Case 1 </h4>
                    </a>
                </div>

                <div class="col-md-7 info">
                    <div class="item"> Last update: 01.02.15 </div>
                    <div class="item"> Status: Not run </div>
                    <div class="item"> Priority: Minimal </div>
                </div>

                <div class="arrow col-md-2">
                    <i class="caret"></i>
                </div>

            </article>

            <article class="test-case row">
                <div class="col-md-3">
                    <input type="checkbox">
                    <a href="#">
                        <h4> Test Case 2 </h4>
                    </a>
                </div>

                <div class="col-md-7 info">
                    <div class="item"> Last update: 01.02.15 </div>
                    <div class="item"> Status: Not run </div>
                    <div class="item"> Priority: Minimal </div>
                </div>

                <div class="arrow col-md-2">
                    <i class="caret"></i>
                </div>

            </article>

            <article class="test-case row">
                <div class="col-md-3">
                    <input type="checkbox">
                    <a href="#">
                        <h4> Test Case 3 </h4>
                    </a>
                </div>

                <div class="col-md-7 info">
                    <div class="item"> Last update: 01.02.15 </div>
                    <div class="item"> Status: Not run </div>
                    <div class="item"> Priority: Minimal </div>
                </div>

                <div class="arrow col-md-2">
                    <i class="caret"></i>
                </div>

            </article>


        </section>

    </section>
    <!-- Main Block -->

</section>
