<div class="modal-header">
  <h3 class="modal-title text-center">Create New Test Suite</h3>
</div>
<form >
  <div class="modal-body">
    <div class="container-fluid">
      <div class="col-xs-6">
        <div class="form-group">
          <label for="suiteName">Title:</label>
          <input type="text" class="form-control" id="suiteName" name="suiteName" placeholder="Test suite title" ng-model="vmSuite.suiteName">
        </div>
      </div>

      <div class="col-xs-4">
        <div class="form-group">
          <label for="suitePriority">Priority:</label>
          <select class="form-control" id="suitePriority">
            <option value="4">Critical</option>
            <option value="3">High</option>
            <option value="2" selected>Medium</option>
            <option value="1">Low</option>
          </select>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="form-group">
          <label for="suiteId">ID:</label>
          <input type="text" class="form-control" id="suiteId" value="9" disabled>
        </div>
      </div>
      
      <div class="col-xs-12">
        <div class="form-group">
          <label for="suiteDescription">Description:</label>
          <textarea class="form-control" rows="3" id="suiteDescription" name="suiteDescription" placeholder="Input test suite description here" ng-model="vmSuite.suiteDescription"></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vmSuite.submitAddSuite()"><i class="fa fa-check"></i> </button>
    <button class="btn btn-warning" type="button" ng-click="vmSuite.cancelAddSuite()"><i class="fa fa-times"></i> </button>
  </div>
</form>
