<section class="mainbar">
    <script type="text/ng-template" id="popoverTemplate.html">
        <span class="label label-danger">F</span>
        <span class="label label-danger">F</span>
        <span class="label label-danger">F</span>
        <span class="label label-success">P</span>
    </script>
    <div class="matter">
        <div class="container-fluid">

            <!-- header -->
            <div class="clearfix">
                <h1>
                    Tests
                    <form name="testsForm"
                        class="form-inline pull-right"
                        novalidate>
                        <div class="input-group">
                            <input
                                type="text"
                                class="form-control"
                                name="name"
                                placeholder="New run name"
                                ng-model="vmTests.newRunName"
                                required/>
                            <span class="input-group-btn">
                                <button
                                    type="button"
                                    ng-disabled="!testsForm.$valid"
                                    class="btn btn-primary"
                                    ng-click="vmTests.runSelected()">
                                    RUN SELECTED TESTS <i class="fa fa-play"></i></button>
                            </span>
                        </div>
                        <smart-filter type="tests"
                                      fast-queries="['priority=High', 'priority=Low', 'priority=Normal', 'priority=Critical']">
                        </smart-filter>
                    </form>
                </h1>
            </div>
            <hr>

            <!--main content-->
            <div class="row">

                <!-- suites -->
                <div class="col-xs-3">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3>Suites
                                <button type="button" class="btn btn-primary btn-xs" ng-click="vmTests.openAddSuite()">
                                    NEW
                                </button>
                            </h3>
                        </div>
                        <div class="table-responsive">
                            <!-- TABLE FOR TEST SUITE-->
                            <table class="table table-hover" style="font-size:larger">
                                <tbody>
                                <tr ng-repeat="s in vmTests.suites track by $index"
                                    ng-click="vmTests.setSuite(s)"
                                    style="cursor: pointer" ng-class="{active: vmTests.currentSuite._id == s._id }"
                                    ng-mouseover="showSuiteRunAndEdit= true" ng-mouseleave="showSuiteRunAndEdit= false">
                                    <td>
                                        <input
                                            type="checkbox"
                                            id="{{s._id}}"
                                            ng-value="s._id"
                                            ng-model="vmTests.setSuiteCheckboxModel(s._id).checked"
                                            ng-true-value="true"
                                            ng-false-value="false"
                                            ng-click="vmTests.checkSuiteTests($event)">

                                        {{vmTests.suites[$index].suiteName}}
                                    </td>
                                    <td>
                                        <a ng-click="vmTests.runSelected()"  ng-class="{invisible: !showSuiteRunAndEdit}"><i class="fa fa-play-circle fa-lg"></i></a>
                                        <a ng-click="vmTests.openAddSuite(s)" ng-class="{invisible: !showSuiteRunAndEdit}"><i class="fa fa-edit fa-lg"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- cases -->
                <div class="col-sm-9">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4>
                                {{vmTests.currentSuite.suiteName}}
                                <a ui-sref="tests-create({currentSuite: vmTests.currentSuite})"
                                   class="btn btn-primary btn-xs">NEW</a>
                            </h4>
                            <div class="clearfix">
                                <b>Description: </b>
                                {{vmTests.currentSuite.suiteDescription}}
                            </div>

                        </div>
                        <div class="table-responsive">
                            <!-- TABLE FOR TEST CASE-->
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>
                                        <input
                                            type="checkbox"
                                            id="checkAllTestsCheckbox"
                                            ng-model="vmTests.allTestsCheckboxModel.checked"
                                            ng-true-value="true"
                                            ng-false-value="false"
                                            ng-click="vmTests.checkAllTests($event)">

                                    </th>
                                    <th>Name</th>
                                    <th>Priority</th>
                                    <th>Created</th>
                                    <th>Steps</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody ng-repeat="tc in vmTests.filteredTests" style="border:0">
                                <tr ng-click="seeCase = !seeCase;" style="cursor: pointer"
                                ng-mouseover="showTestRunAndEdit = true" ng-mouseleave="showTestRunAndEdit = false">
                                    <td ng-click="$event.stopPropagation();">
                                        <input
                                            type="checkbox"
                                            ng-model="vmTests.setTestCheckboxModel(tc._id).checked"
                                            ng-true-value="true"
                                            ng-false-value="false"
                                            ng-click="vmTests.testCheckboxClickHandler($event)"
                                            ng-value="tc._id">
                                    </td>
                                    <td>{{ ::tc.testName }}</td>
                                    <td>{{ ::tc.priority || "No Priority" }}</td>
                                    <td>{{ ::tc.created | date:'MM/dd/yyyy' }}</td>
                                    <td>{{ ::tc.steps.length }}</td>
                                    <td>
                                        <span uib-popover-template="'popoverTemplate.html'" popover-trigger="mouseenter"
                                            class="label label-success">PASSED</span>
                                    </td>
                                    <td>
                                        <a ng-click="vmTests.runSelected()" ng-class="{invisible: !showTestRunAndEdit}"><i class="fa fa-play-circle fa-lg"></i></a>
                                        <a ui-sref="tests-edit({currentSuite: vmTests.currentSuite, currentTestCase: tc})" ng-class="{invisible: !showTestRunAndEdit}"><i class="fa fa-edit fa-lg"></i></a>
                                    </td>
                                </tr>
                                <!-- ROW FOR STEPS-->
                                <tr ng-if="seeCase" style="background-color: #eee">
                                    <td colspan="10">
                                        <div class="container-fluid" style="padding-bottom: 20px">
                                            <div class="clearfix">
                                                <div class="col-xs-12">
                                                    <b>Pre-conditions:</b>
                                                    <p>{{ ::tc.preConditions }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Step</th>
                                                <th>Step info</th>
                                                <th>Expected result</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="step in tc.steps track by $index">
                                                <td>{{ ::$index+1 }}</td>
                                                <td>{{ ::step.stepDescription }}</td>
                                                <td>{{ ::step.expectedResult }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- panel -->

            </div>
            <!-- row -->

        </div>
        <!-- container -->
    </div>
    <!-- matter -->
</section>

