#new-test-title{
    min-width: 100px;
    width: 50%;
    /*float: left;*/
}
#new-test-priority{
    width: 80px;
}
#add-test-case-form{
    position: relative;
    padding: 15px;
}
#add-test-case-form label{
    text-align: left;

    /*padding: 15px;*/
}
#add-test-steps-button{
    margin-top: 5px;
    margin-bottom: 5px;
}

#addStepsAndResults{

    background-color:  #f5f5f5;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    box-sizing: border-box;
    margin-right: 0;
    margin-left: 0;
    /*border: solid black 1px;
    border-bottom: solid black 1px;*/
}
#add-new-test-steps{
    overflow: hidden;
}
#add-new-test-results{
    overflow: hidden;
}