/*add-test-case*/
#new-test-title{
    min-width: 100px;
    width: 50%;
}
#new-test-priority{
    width: 80px;
}
#add-test-case-form{
    position: relative;
    padding: 15px;
}
#add-test-case-form label{
    text-align: left;
}
#add-test-steps-button{
    margin-top: 5px;
    margin-bottom: 5px;
}
#addStepsAndResults{
    background-color:  #f5f5f5;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    box-sizing: border-box;
    margin-right: 0;
    margin-left: 0;
}
#add-new-test-steps{
    margin-top: 5px;
    overflow: hidden;
}
#add-new-test-results{
    margin-top: 5px;
    overflow: hidden;
}
/*******************************************************************/
/*run test*/
#run-test-breadcrumbs {
    margin-top: -15px;
}
