  * {
  box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: rgb(250, 250, 250);
}

.row {
    margin: 5px auto;
}

main {
    padding: 5px;
    height: 100%;
}

main>section:first-child {
    height: 100%;
}

ul {
  list-style: none
}

.aside-nav {
    background-color: rgb(240, 240, 240);
    padding: 10px;
    height: 100%;
}

.aside-nav h4 {
    margin-bottom: 20px;
}

.aside-nav .test-suite {
    margin-bottom: 5px;
    cursor: default;
}

.aside-nav .test-suite.active, .aside-nav .test-suite:hover {
    font-weight:bold;
}

.aside-nav+hr {
    display: block;
    width: 80%;
    margin: auto;
    height: 2px;
    background-color: #000000;
    margin-bottom: 10px;
}

.aside-nav .options {
    padding-left: 40px;
}

.fa:not(.search-icon) {
    height: 27px;
    font-size: 1.2em;
    border-radius: 0.1em;
    text-align: center;
    margin: 0 10px;
}

.fa-plus:hover {
    color: green;
}

.fa-pencil:hover {
    color: #ffe86f;
}

.fa-trash:hover {
    color: red;
}

.fa-play:hover {
    color: green;
}

.main-section {
    background-color: #ddd;
    padding: 5px;
    height: 100%;
}

.breadcrumb {
    background-color: inherit;

}

.main-section .btn {
    float: right;
    margin-right: 15px;
}

.main-section .right {
    padding: 8px;
}

.search {
    height: 28px;
}

.search-block {
    text-align: right;
}

.filters {
    margin-top: 15px;
}

.filters label, .filters select {
    position: relative;
    left: 15px;
}
.add-filters {
    font-size:0.8em;
}

.test-case {
    width: 90%;
    margin: 15px auto;
    padding: 15px 0;
    background-color: rgb(230, 237, 230);
}

.test-case:hover {
    background-color: rgb(240, 245, 240);
}

.test-case * {
    display: inline-block;
}

.test-case h4 {
    font-size: 1.1em;
    margin: 0 5px;
    font-weight: bold;
}

.test-case .info {
    text-align: right;
}

.test-case .item {
    margin-left: 10px;
}

.test-case .arrow {
    text-align: right;
}

.test-case .caret {
    border-width: 7px;
}

.test-case a {
    color: inherit;
}




.projects-header {
  margin-bottom: 20px;
}

.projects-main-header {
  margin: 0;
  padding-left: 20px;
}

.projects-main {
  margin-top: 15px;
}

.project-li {
  min-height: 40px;
  background-color: rgb(230,230,230);
  margin-bottom: 15px;
}

.project-li.active {
  padding-bottom: 10px;
}

.project-li h3 {
  height: 100%;
  vertical-align: middle;
  min-height: 40px;
  position: relative;
  padding-top: 8px;
  padding-left: 10px;
  margin-top: 0;
  background-color: rgb(240, 240, 240);
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

.project-li.active h3, .project-li h3:hover {
  background-color: rgb(230, 235, 230);
}

.project-navigation {
  padding-left: 5px;
}

.cur-project-suite.active, .cur-project-suite:hover {
  font-weight: bold;
}

.test-case-li {
  font-weight: normal;
}

.test-case-li:hover {
  font-weight: bold;
}

.left-nav {
  background-color: rgb(245,245,245);
  min-height: 100%;
}

.project-window {
  overflow: hidden;
  height: 100%;
}

.manage-projects-link {
  display: block;
  margin-top: 20px;
  text-align: center;
}

.current-project-block h1 {
  display: inline-block;
  font-size: 25px;
  margin-right: 10px;
  margin-top: 0;
}

.current-project-block .fa {
  margin: 0 3px;
}

.current-project-block .left-col {
  padding: 10px 20px 0 20px;
}

.current-project-block h3 {
  font-size: 19px;
}

.current-project-block {
  background-color: rgb(240,240,240);
  height: 100%;
}

.current-project-block .caption {
  padding-left: 20px;
}

green {
  color: green;
}

.green {
  color: green;
}

.red {
  color: red;
}

.bug-list select {
  width: 100%;
  padding: 5px;
}

.current-project-block article {
  margin: 20px 5px 10px;
}

.team-squad {
  width: 100%;
  height: 185px;
  min-height: 185px;
  background-color: white;
  padding: 10px 0;
}

.current-project-team {
  
  
}

.current-project-block .right-col {
  padding: 10px 20px 0 20px;
}

.member {
  display: inline-block;
  width: 80px;
  margin: 5px 10px;
}

.member

.team-member-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px dashed green;
  margin: auto;
}

.current-project-team h5 {
  width: 100%;
  margin: 5px auto;
  text-align: center;
  
}

.members {
  width: 310px;
  margin: auto;
}

.current-tasks-container button {
  padding: 3px 10px;
  position: relative;
  top: 4px;
  
}

.current-tasks-container .task {
  border: 1px solid #aaa;
}

.current-tasks-container .task-name {
  font-size: 16px;
  font-weight: bold;
}

.current-tasks-container .task-priority {
  font-weight: normal;
  position: relative;
  top: 7px;
}
