<div class="container-fluid add-project-container">
    <div class="row-fluid">
        <div class="modal-header">
            <h4 class="modal-title"> Create new project </h4>
        </div>
        <div class="modal-body">
            <form action="" name="addProjectForm">
                <div class="form-group">
                    <label for="projectName">Name</label>
                    <input
                        type="text"
                        class="form-control"
                        id="projectName"
                        name="projectName"
                        ng-init="vmModal.projectName=''"
                        ng-model="vmModal.projectName"
                        ng-maxlength="40"
                        ng-minlength="2"
                        required/>

                </div>
                <div class="form-group">
                    <label for="projectDescription">Description</label>
                <textarea
                    type="text"
                    class="form-control"
                    id="projectDescription"
                    ng-init="vmModal.projectDescription=''"
                    ng-model="vmModal.projectDescription"></textarea>
                </div>
                <div class="form-group">
                    <label>
                        <input type="checkbox"/> Implement sprints
                    </label>
                </div>
                <div ng-messages="addProjectForm.projectName.$error">
                    <div ng-message="minlength" class="alert alert-warning">Min length</div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button
                class="btn btn-default"
                ng-click="vmModal.dismiss()">
                Cancel
            </button>
            <button
                class="btn btn-success"
                ng-click="vmModal.createProjAndOrg()">
                Create
            </button>
        </div>
        <br/>
    </div>
</div>
