<div class="container-fluid add-project-container">
    <div class="row-fluid">
        <h1> Create new project </h1>

        <p class="container-fluid">
        <h4> Project name </h4>
        <input type="text" name="pr-name" placeholder="e. g. My new project" class="col-md-12" value="" required
               ng-init="vmModal.projectName=''" ng-model="vmModal.projectName">
        </p>

        <p class="container-fluid" value="">
        <h4> Project description </h4>
        <textarea name="pr-descr" id="pr-descr" rows="3" class="col-md-12" style="resize: none;" required
                  ng-init="vmModal.projectDescription=''" ng-model="vmModal.projectDescription"></textarea>
        </p>

        <p class="container-fluid">
            <div class="row-fluid">
                <button class="btn btn-success marg-top" ng-click="vmModal.createProjAndOrg()">
                    Create
                </button>
            </div>
        </p>

    </div>
</div>
