<div class="container-fluid">
    <p class="row-fluid" style="font-size: 25px; font-weight: bold; margin-top: 10px; "> Project created </p>

    <div class="row-fluid" style="margin-bottom: 10px;">
        <button class="btn btn-success" ui-sref="tests-list" ng-click="vmSidebarModal.exit()">
            <i class="fa fa-plus"></i>
            Add suite
        </button>
        <button class="btn btn-primary" ui-sref="admin.team" ng-click="vmSidebarModal.exit()">
            <i class="fa fa-users"></i>
            Manage team
        </button>
    </div>


</div>
