<div ng-controller="SidebarController as vmSidebar">
    <ht-sidebar when-done-animating="vmSidebar.sidebarReady()">
        <div class="sidebar-filler"></div>
        <div class="sidebar-dropdown"><a href="#">Menu</a></div>
        <div class="sidebar-inner">
            <ul class="navi">
                <li class="nlightblue fade-selection-animation" ng-repeat="projectName in vmSidebar.projectsNames | orderBy:'-'" >
                    <a ng-click="vmSidebar.setCurrentProject(projectName)"> {{projectName}} </a>
                </li>
            </ul>
            <div class="container-fluid" style="margin-top: 15px;">
                <div class="row-fluid options">
                    <button class="btn btn-success" ng-click="vmSidebar.open()">
                        <i class="fa fa-plus"></i>
                        Add Project
                    </button>
                </div>
            </div>
        </div>
    </ht-sidebar>
</div>
