<div class="sidebar">
    <div class="sidebar-inner">
        <img src="../images/busy.gif" ng-if="!vmSidebar.synchronized"/>
        <div  ng-if="vmSidebar.synchronized">
            <ul>
                <li class="nlightblue fade-selection-animation" ng-repeat="project in vmSidebar.projects track by project.id " >
                    <a
                        href="#"
                        id="{{project.id}}"
                        ng-click="vmSidebar.setCurrentProject($event); vmSidebar.currentProjectID = project.id;"
                        ng-class="{'active-project': (project.id == vmSidebar.currentProjectID)}">
                        {{project.name}}
                    </a>
                </li>
            </ul>
            <button class="btn btn-success btn-block" ng-click="vmSidebar.open()" id="btnAddProject">
                <i class="fa fa-plus"></i>
                Add Project
            </button>
        </div>
    </div>
</div>
