<div ng-controller="SidebarController as vm">
    <ht-sidebar when-done-animating="vm.sidebarReady()">
        <div class="sidebar-filler"></div>
        <div class="sidebar-dropdown"><a href="#">Menu</a></div>
        <div class="sidebar-inner">
            <ul class="navi">
                <li class="nlightblue fade-selection-animation">
                    <a> Project TCMS</a>
                </li>
                <li class="nlightblue fade-selection-animation">
                    <a> Project 2</a>
                </li>
                <li class="nlightblue fade-selection-animation">
                    <a> Project 3</a>
                </li>
                <li class="nlightblue fade-selection-animation">
                    <a> Project 4</a>
                </li>
            </ul>
        </div>
    </ht-sidebar>
</div>
