<style>
    .mainbar{
        margin-left: 0;
    }
    .navi{
        visibility: hidden;
    }
</style>

<section class="mainbar">
    <div class="matter">
        <div class="container" ng-controller="RunsController as vm">
            <div class="clearfix">
                <h1>
                    Runs

                    <form class="form-inline pull-right">
                        <select class="form-control">
                            <option>Current runs</option>
                            <option>Archived runs</option>
                            <option>All runs</option>
                        </select>
                        <input type="text" class="form-control" placeholder="Filter">
                    </form>
                </h1>
            </div>
            <hr>

            <div class="row">
                <div class="col-sm-8">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Current runs
                            <span class="pull-right" ng-show="vm.selectedRuns.length > 0">
                                <span class="glyphicon glyphicon-inbox"></span>
                                archive
                            </span>
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>
                                    <input type="checkbox">
                                </th>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Build
                                </th>
                                <th>
                                    Environment
                                </th>
                                <th>
                                    Author
                                </th>
                                <th>
                                    Status
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="runItem in vm.runs" ng-click="vm.selectRun($index)">
                                <th>
                                    <input type="checkbox" class="runCheckBox" ng-click="vm.runCheckBoxClick($event, $index)">
                                </th>
                                <td>
                                    {{vm.moment(runItem.date).format('DD.MM.YY')}}
                                </td>
                                <td>
                                    {{runItem.name}}
                                </td>
                                <td>
                                    {{runItem.build}}
                                </td>
                                <td>
                                    {{runItem.envShort}}
                                </td>
                                <td>
                                    {{runItem.author.last+' '+runItem.author.first.slice(0,1)+'.'}}
                                </td>
                                <td>
                                    <span class="label label-{{runItem.status==='passed'?'success':'danger'}}">
                                        {{runItem.status.toUpperCase()}}
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-sm-4 ">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            {{vm.runs[vm.selectedRun].name}}
                            <span class="pull-right">
                                <span ui-sref="run-execute">
                                    <span class="glyphicon glyphicon-duplicate"></span>
                                    copy&run &nbsp;
                                </span>
                                <span class="glyphicon glyphicon-inbox"></span>
                                archive
                            </span>
                        </div>
                        <div class="panel-body">
                            <b>Status:</b>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success"
                                     style="width: {{vm.progress.passed/vm.progress.length*100}}%">
                                    {{vm.progress.passed}}
                                </div>
                                <div class="progress-bar progress-bar-danger"
                                     style="width: {{vm.progress.failed/vm.progress.length*100}}%">
                                    {{vm.progress.failed}}
                                </div>
                            </div>
                            <b>Environment details:</b>
                            <div>
                                <div ng-repeat="(envParamKey, envParamValue) in vm.runs[vm.selectedRun].envFull">
                                    <i>{{envParamKey}}</i>: {{envParamValue}}
                                </div>
                            </div>
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Suite</span></th>
                                <th>Status</span></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="test in vm.runs[vm.selectedRun].tests">
                                <td>{{test.name}}</td>
                                <td>{{test.suite}}</td>
                                <td>
                                    <span class="label label-{{test.status==='passed'?'success':'danger'}}">
                                        {{test.status.toUpperCase()}}
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
