<section class="mainbar">
    <div class="matter">
        <div class="container-fluid">
            <div class="clearfix">
                <h1>
                    Runs

                    <form class="form-inline pull-right">
                        <select class="form-control">
                            <option>Current runs</option>
                            <option>Archived runs</option>
                            <option>All runs</option>
                        </select>
                        <smart-filter type="runs"
                                      fast-queries="['status=failed', 'status=passed', 'date> month ago', 'date> year ago']"
                                      >
                        </smart-filter>
                    </form>
                </h1>
            </div>
            <hr>

            <div class="row">
                <div class="col-xs-12" ng-if="vmRuns.runs.length === 0">
                    <div class="alert alert-info" role="alert">
                        List of {{'current runs'}} is empty.
                    </div>
                </div>
                <div class="col-sm-8" ng-if="vmRuns.runs.length !== 0">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6">
                                    Current runs
                                </div>
                                <div class="col-xs-6 col-sm-6">
                                    <span class="pull-right" ng-if="vmRuns.selectedRuns.length > 0" style="margin-right: 10px;">
                                        <i class="glyphicon glyphicon-inbox"></i>
                                        Archive
                                    </span>
                                    <span
                                        class="pull-right"
                                        ng-if="vmRuns.selectedRuns.length > 0"
                                        style="margin-right: 10px;"
                                        ng-click="vmRuns.deleteSelectedRuns()">
                                        <i class="glyphicon glyphicon-trash"></i>
                                        Delete
                                    </span>
                                </div>
                            </div>
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>
                                    <input
                                        type="checkbox"
                                        name="selectAll"
                                        ng-model="vmRuns.checkAllModel.checked"
                                        ng-true-value="true"
                                        ng-false-value="false"
                                        ng-click="vmRuns.selectAll($event)">
                                </th>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Build
                                </th>
                                <th>
                                    Environment
                                </th>
                                <th>
                                    Author
                                </th>
                                <th>
                                    Status
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="runItem in vmRuns.filteredRuns"
                                ng-click="vmRuns.selectRun(runItem._id)">
                                <td>
                                    <input
                                        type="checkbox"
                                        class="runCheckBox"
                                        ng-model="vmRuns.setCheckboxModel(runItem._id).checked"
                                        ng-true-value="true"
                                        ng-false-value="false"
                                        ng-value="runItem._id"
                                        ng-click="vmRuns.runCheckBoxClick($event, $index)">
                                </td>
                                <td ng-bind="::runItem.dateStart|date : 'shortDate'"></td>
                                <td ng-bind="::runItem.name"></td>
                                <td ng-bind="::runItem.build"></td>
                                <td ng-bind="::runItem.envShort"></td>
                                <td ng-bind="::runItem.author.toString('short')"></td>
                                <td>
                                    <span class="label label-{{::runItem.status==='passed'?'success':(runItem.status === 'failed'?'danger':'default')}}"
                                          ng-bind="::runItem.status.toUpperCase()"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-sm-4" ng-if="vmRuns.runs.length !== 0">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            &nbsp;
                            <span class="pull-right">
                                  <span ui-sref="runs-execute({id:vmRuns.selectedRun._id})" ng-if="vmRuns.selectedRun.status === 'pending'">
                                    <span class="fa fa-play"></span>
                                    resume&nbsp;
                                </span>
                                <span ui-sref="runs-edit({id:vmRuns.selectedRun._id})">
                                    <span class="fa fa-copy"></span>
                                    copy&amp;run &nbsp;
                                </span>
                                <span class="fa fa-inbox"></span>
                                archive
                            </span>
                        </div>
                        <div class="panel-body">
                            <h4 ng-bind="vmRuns.selectedRun.name"></h4>
                            <b>Status:</b>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success"
                                     style="width: {{vmRuns.progress.passed/vmRuns.progress.length*100}}%"
                                     ng-bind="vmRuns.progress.passed">
                                </div>
                                <div class="progress-bar progress-bar-danger"
                                     style="width: {{vmRuns.progress.failed/vmRuns.progress.length*100}}%"
                                     ng-bind="vmRuns.progress.failed">
                                </div>
                                <div class="progress-bar tabsSelected"
                                     style="width: {{vmRuns.progress.pending/vmRuns.progress.length*100}}%"
                                     ng-bind="vmRuns.progress.pending">
                                </div>
                            </div>
                            <div>
                                <b>Author: </b>{{vmRuns.selectedRun.author.toString()}}
                            </div>
                            <b>Environment details:</b>
                            <div>
                                <div ng-repeat="(envParamKey, envParamValue) in vmRuns.selectedRun.envFull">
                                    <i ng-bind="envParamKey"></i>: {{envParamValue}}
                                </div>
                            </div>
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody ng-repeat="cluster in vmRuns.testClusters">
                                <tr ng-hide="vmRuns.testClusters.length < 2">
                                    <td colspan="3" class="text-center">{{cluster[0].suite}}</td>
                                </tr>
                                <tr ng-repeat="test in cluster">
                                    <td ng-bind="test.testName"></td>
                                    <td>
                                        <span class="label label-{{test.status==='passed'?'success':(test.status === 'failed'?'danger':'default')}}"
                                              ng-bind="test.status.toUpperCase()"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
